/* ---Global--- */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
body{
    overflow-x: hidden;
    background-image: url("../Images/Background.jpg");
    font-family: 'Roboto', sans-serif;
}
  
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---Register Form Start--- */
.register{
    background-color: #f1f1f1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-basis: 100%;
    min-width: 500px;
    max-width: 500px;
    padding: 30px 20px;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 10px 20px;
    margin: 15px 0;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 15px;
}

.option{
    margin: 10px auto;
    font-size: 15px;
}

button{
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(103, 207, 248);
    cursor: pointer;
}

button:hover{
    background-color: rgb(105, 194, 230);
    transition: 0.5s;
}
/* ---Register Form End--- */

/* ---Pop Up Window Start ---*/
.hover_bkgr_box{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_box .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_box > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 550px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.s1 {
    color: crimson;
    text-align: center;
    text-decoration: overline underline;
    font-weight: bold;
    font-size: 40px;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}

.trigger_popup_box {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* ---Pop Up Window End ---*/